.container {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    margin: 0 10px;
}

span > a {
    color: #3fb5a3;
    text-decoration: none;
}

span > a:hover {
    color: #fff;
}
