<mat-card>
  <form #postForm="ngForm" (submit)="onAddPost(postForm)">
    <mat-form-field>
      <input
        name="title"
        minlength="5"
        ngModel
        matInput
        type="text"
        placeholder="Enter Post Title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Enter 5 Or More Characters For The Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        name="content"
        ngModel
        matInput
        rows="2"
        placeholder="Leave a comment"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please Enter Post Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
<p>{{ post }}</p>
