<mat-accordion *ngIf="postsFacade.posts$  | async; else noPosts" multi="true">
  <mat-expansion-panel *ngFor="let post of postsFacade.posts$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">
      <span>{{ post.content }}</span>
      <mat-action-row>
        <mat-icon
        (click)="postsFacade.removePost(post.id)"
        >delete</mat-icon>
        <mat-icon (click)="editPost(post.id)">edit</mat-icon>
        <mat-spinner
          *ngIf="postsFacade.isPostDeleting$ | async"
          color="primary"
          diameter="25"
          ></mat-spinner>
      </mat-action-row>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noPosts>
  <p class="info-text mat-body-1">No Available Posts</p>
</ng-template>
