<mat-accordion *ngIf="posts && posts.length > 0; else noPosts" multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content">
      <span>{{ post.content }}</span>
      <mat-action-row>
        <mat-icon
        (click)="deletePostEmitter.emit(post)"
        >delete</mat-icon>
        <mat-icon (click)="editPostEmitter.emit(post)">edit</mat-icon>
        <mat-progress-spinner
          *ngIf="postsFacade.isPostDeleting$ | async"
          color="primary"
          mode="indeterminate"  
          ></mat-progress-spinner>
      </mat-action-row>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noPosts>
  <p class="info-text mat-body-1">No Available Posts</p>
</ng-template>
